.rootCanalContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 1);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 15px 17px 15px 35px;
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sectionTitle h2 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.sectionTitle span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleAndBtnsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.btns button {
  border: 2px solid black;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 16px 32px;
  width: 170px;
}

.btn {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.exportAndDel {
  display: flex;
  gap: 25px;
}

.infoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.infoCard ul {
  margin: 2px;
}

.infoTitle {
  font-weight: bold;
  margin: 0;
}

.infoCard {
  background-color: rgba(236, 236, 236, 1);
  border-radius: 8px;
  padding: 12px 16px;
  margin: 15px 0;
  max-width: 50%;
}

.infoCardContainer::-webkit-scrollbar {
  width: 6px; /* scrollbar width */
}

.infoCardContainer::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* Scrollbar thumb color */
  border-radius: 3px;
  border: 1px solid black;
}

.infoCardContainer::-webkit-scrollbar-track {
  background-color: black; /* track background */
  border-radius: 3px;
}

.infoCardContainer {
  background-color: white;
  padding: 25px 10px 10px 20px;
  height: calc(100vh - 340px);
  overflow-y: auto;
  margin-top: 15px;
  border: 2px dashed transparent;
  transition: border 0.2s ease;
}

.infoCard {
  transition: transform 0.3s ease-in-out; /* Transition to animate the movement */
  position: relative;
}

.infoCard.dragging {
  opacity: 0.5; /* Optional: Add a slight fade when dragging */
}

.infoCard + .infoCard {
  margin-top: 10px; /* Adjust for spacing */
}
